In [2]:
import pandas as pd
import datetime

In [10]:
df = pd.DataFrame(columns=["Time", "Tray", "Moisture", "pH", "Temperature"])
df

Empty DataFrame
Columns: [Time, Tray, Moisture, pH, Temperature]
Index: []

In [16]:
df.to_pickle("./plantData.pkl")

In [15]:
dict={
    'Time':datetime.datetime.now(),
    'Tray':1,
    'Moisture':.4,
    'pH':7.5,
    'Temperature':56.7
}
# pd.concat(df, axis=0, dict, ignore_index=True)
df = df.append(dict, ignore_index=True)
df

C:\Users\ADMIN_~1\AppData\Local\Temp/ipykernel_14400/1851266988.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dict, ignore_index=True)

                         Time Tray Moisture   pH Temperature
0  2022-04-24 17:49:20.062341    1      0.4  7.5        56.7

In [3]:
df2 = pd.read_pickle("./plantData.pkl")

In [18]:
df2.to_csv("./plantDataExport.csv")

                         Time Tray Moisture   pH Temperature
0  2022-04-24 17:49:20.062341    1      0.4  7.5        56.7